*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

b {
    font-weight: bold;
}

h1 {
    font-weight: lighter;
    text-align: center;
    padding: 20px;
}

button {
    border: 1px solid;
    background-color: #ffff;
    font-family: inherit;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    line-height: 20px;
    margin: 3px;
    cursor: pointer;
}